{% extends 'layout.html' %} <!-- Extiende la plantilla base 'layout.html' -->

{% block title %}About Us{% endblock %} <!-- Título de la página específica -->

{% block content %}
    <!-- Contenido principal de la página "Sobre Nosotros" -->
    <div class="container mt-5">
        <h1 class="mb-4">Sobre Nosotros</h1> <!-- Título principal de la página -->
        <div class="row">
            <!-- Sección de la misión de la empresa -->
            <div class="col-md-6">
                <h2>Nuestra Misión</h2>
                <p>
                    En Dragon Ball Recipe, estamos apasionados por la cocina y la creatividad en la cocina. Nuestra misión es ofrecer una plataforma 
                    donde los amantes de la gastronomía puedan explorar una amplia variedad de recetas, desde las más serias y deliciosas hasta las más divertidas y sorprendentes. 
                    Ya sea que busques recetas tradicionales para impresionar a tus amigos y familiares o quieras experimentar con recetas humorísticas inspiradas en el mundo de Dragon Ball, 
                    ¡encontrarás algo para cada ocasión!.
                </p>
            </div>
            <!-- Sección de información sobre quiénes son -->
            <div class="col-md-6">
                <h2>Quienes Somos</h2>
                <p>
                    Fundado por Antonio Perales, nuestro equipo reúne una gran experiencia y un compromiso compartido con la excelencia. 
                    Antonio Perales también es conocido por sus contribuciones en plataformas como EDX, donde es usuario bajo el nombre de Antonio, 
                    y en GitHub, donde su usuario es Perales33.
                </p>
                <p>Estamos ubicados en Madrid, donde nos esforzamos por tener un impacto positivo en nuestra comunidad y más allá.</p>
            </div>
        </div>
    </div>
{% endblock %}
