{% extends 'layout.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Contactanos</h1>
        <p>Si tienes alguna pregunta o deseas ponerte en contacto con nosotros, no dudes en escribirnos a:</p>
        <ul>
            <li><strong>Github Porfolio:</strong><a href="https://github.com/Perales33/Porfolio"> https://github.com/Perales33/Porfolio</a></li>
            <li><strong>Mi porfolio:</strong><a href="https://perales33.github.io/Porfolio/"> https://perales33.github.io/Porfolio/</a></li>
        </ul>
    </div>
{% endblock %}
